/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
	background: url(../images/banner_bg.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
	font-weight:100%;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.header-top{
	background: url(../images/border.png) repeat-x 0px 40px;
	position:relative;
}
.logo {
	float:left;
}
/*--menu--*/
.drp-dwn{
	float:right;
	margin:7px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block!important;
	width:100%;
	border: none;
	background:rgba(73, 93, 137, 0.56);
	color: #FFF;
	cursor: pointer;
	font-size: 0.8125em;
	float: right;
}
.slider{
	text-align:center;
	padding: 15px 0 30px 0;
}
.slider h1{
	color:#fff;
	font-size:1.1em;
	margin-bottom: 20px;
}
.da-link{
	background: #E67E22;
	font-size: 0.9em;
	padding:8px 15px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}
.da-link:hover{
	background:#D66F14;
}
/*--content--*/
.main{
	background:#fff;
	padding:0 10px;
}
.col_1_of_4 {
	display: block;
	margin-bottom:30px;
	border: 1px solid #F0F0F0;
	position:relative;
	text-align:center;
}
h2.m_1{
	font-size:0.8125em;
	line-height: 1.5em;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #555;
	padding: 20px 0 40px 0;
}
i.settings{
	width: 50px;
	height: 50px;
	background: url(../images/img-sprite.png)-174px -28px;
	float: left;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top:-30px;
	left:38%;
}
i.clock{
	width:50px;
	height:50px;
	background: url(../images/img-sprite.png)261px -31px;
	float: left;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top:-30px;
	left:38%;
}
i.aeroplane{
	width:50px;
	height:50px;
	background: url(../images/img-sprite.png)-311px -34px;
	float: left;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top:-30px;
	left:38%;
}
.desc{
	text-align:center;
	padding:10px;
}
.desc h3{
	color: #222;
	font-size: 1em;
	margin-bottom: 10px;
}
.desc p{
	color:#555;
	font-size:0.8125em;
	line-height:1.5em;
}
/*--content-middle--*/
.mac{
	text-align:center;
}
.m_3{
	text-align: center;
	position: relative;
	text-transform:uppercase;
	color:#555;
	font-size:0.8125em;
	padding:0px 0 10px 0;
	font-weight: 600;
}
.m_15{
	text-align: center;
	position: relative;
	text-transform: uppercase;
	color: #555;
	font-size: 0.8125em;
	padding: 20px 0 30px;
	font-weight: 600;
}
span.left_line{
	height: 3px;
	width:35px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	left: 0%;
	bottom:15px;
}
span.right_line{
	height: 3px;
	width:35px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	right:0%;
	bottom:15px;
}
.span_1_of_middle h3{
	color: #555;
	font-size: 0.85em;
	margin-bottom: 10px;
	font-weight: bold;
}
.span_1_of_middle p{
	color:#555;
	font-size:0.8125em;
	line-height:1.5em;
}
.btn{
	margin-top:20px;
}
.btn a {
	border: none;
	font-weight: 100;
	color: #FFF;
	cursor: pointer;
	padding:7px 15px;
	display: inline-block;
	font-size:0.8125em;
	outline: none;
	background: #FFA540;
	-webkit-appearance: none;
}
.btn a:hover{
	background:#F1962F;
}
.skills {
	width: 100%;
	margin: 10px 0;
	background-color: #D7DEE0;
	height: 10px;
}
.skills > div {
	height: 100%;
	display: block;
	background-color:#ffa540;
}
.content-middle-bottom{
	padding:30px 0 0 0; 
}
ul.progress.vertical {
    position: relative;
	width:30px;
	min-height:180px;
	float: left;
	margin-right:8px;
	background: #FFA540;
}
li.bar {
	background:#eee;
	width: 50px;
	position: absolute;
}
li.bar1 {
	background:#eee;
	height: 50%;
	width: 50px;
	position: absolute;
}
/*--projects--*/
.span_1_of_projects {
	margin-bottom: 20px;
}
.col_1_of_projects {
	display: block;
}
.view {
   width:280px;
   height:340px;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width: 280px;
   height:340px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   cursor: pointer;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
  
}
h3.m_4{
	text-align:center;
	padding:10px 0;
}
h3.m_4 a{
	color:#555;
	text-transform:uppercase;
	font-size:0.8125em;
}
h3.m_4 a:hover{
	color:#FFA540;
}
p.m_5{
	text-align:center;
	color:#999;
	font-size:0.85em;
}
.span_1_of_projects img{
	display:block;
}
/*--testimonials--*/
.banner-text{
	text-align:center;
	padding-bottom: 20px;
}
.banner-text p{
	color: #555;
	font-size: 0.8125em;
	line-height: 1.5em;
	padding-bottom: 10px;
}
h3.m_6{
	color: #000;
	font-size:0.8125em;
	border-top: 1px solid #F0F0F0;
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
}
span.bg1{
	color:#999;
}
/*--footer--*/
.footer{
	background:#434955;
	padding:20px 10px 10px 10px;
}
.footer-grid {
	margin-bottom: 20px;
}
.footer-grid1 p, .footer-grid2 p {
	color: #919295;
	font-size: 0.8125em;
	line-height: 1.5em;
}
.footer-grid2 h4 {
	font-size:0.8125em;
	text-transform: uppercase;
	color: #FFF;
	font-weight:600;
	padding-bottom: 10px;
}
i.pin{
	width: 20px;
	height: 20px;
	float:left;
	background: url(../images/img-sprite.png)  -10px -102px;
	vertical-align: middle;
	margin:0px 6px 6px 0px;
}
i.phone{
	width: 20px;
	height: 20px;
	float:left;
	background: url(../images/img-sprite.png) no-repeat -37px -105px;
	vertical-align: middle;
	margin:0px 6px 6px 0px;
}
i.mail{
	width: 20px;
	height: 20px;
	float:left;
	background: url(../images/img-sprite.png) no-repeat -68px -104px;
	vertical-align: middle;
	margin:0px 6px 6px 0px;
}
i.earth{
	width: 20px;
	height: 20px;
	float:left;
	background: url(../images/img-sprite.png) no-repeat -101px -105px;
	vertical-align: middle;
	margin:0px 6px 6px 0px;
}
.footer-grid2 ul li label {
	color: #FFF;
	font-size: 0.875em;
}
.extra-wrap{
	overflow:hidden;
}
.footer-grid2 ul li{
	margin-bottom:10px;
}
.extra-wrap1 p{
	color:#fff;
	cursor: pointer;
}
.extra-wrap1 p:hover{
	text-decoration:underline;
}
.recent-tweet {
	margin-bottom: 1em;
}
.recent-tweet-icon {
	float: left;
	width: 10%;
	margin-top: 3%;
}
.recent-tweet-icon span {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -136px -111px;
}
.recent-tweet-info p {
	color: #919295;
	font-size: 0.8125em;
	line-height: 1.5em;
}
.footer-grid3 h4 {
	font-size:0.85em;
	font-weight:600;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom:10px;
}
.recent-tweet-info {
	float: right;
	width: 88%;
}
.recent-tweet-info a {
	display: block;
	color:#919295;
	transition: 0.5s all;
	font-style: italic;
}
.recent-tweet-info a:hover {
	color:#FFA540;
}
.footer-grid4 h4 {
	font-size:0.85em;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom:10px;
	font-weight:600;
}
.footer-grid4 p {
	color:#919295;
	font-size: 0.8125em;
	margin-bottom: 0.5em;
	line-height:1.5em;
}
.footer-grid4 input[type="text"] {
	background: #353b47;
	-webkit-appearance: none;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	outline: none;
	font-size:12px;
	padding:8px;
	color: #757679;
	position: relative;
	width:55%;
}
.footer-grid4 input[type="submit"] {
	background: url(../images/img-sprite.png) no-repeat -194px -101px #ffa540;
	text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
	border: none;
	padding: 7px 25px;
	position: absolute;
	left:130px;
	cursor: pointer;
	color: #FFF;
	outline:none;
	-webkit-appearance: none;
}
.footer-grid4 input[type="submit"]:hover {
	background: url(../images/img-sprite.png) no-repeat -230px -101px #fff;
}
.footer-grid4 {
	position: relative;
	margin-right: 0;
}
.footer-bottom {
	background: #353b47;
	padding:10px;
	text-align:center;
}
.copy p{
	color:#919295;
	font-size: 0.8125em;
	margin-bottom: 10px;
}
.copy p a{
	color:#FFA540;
}
.copy p a:hover{
	color:#919295;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
}
li.facebook a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -281px -106px #FFA540;
}
li.facebook a span:hover {
	background: url(../images/img-sprite.png)no-repeat -281px -135px #FFF;
}
li.linkedin a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -315px -108px #FFA540;
}
li.linkedin a span:hover {
	background: url(../images/img-sprite.png)no-repeat -310px -136px #FFF;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png)no-repeat -343px -137px #FFF;
}
li.twitter a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -343px -110px #FFA540;
}
/*--pages--*/
.cont1 {
	display: block;
}
.col_1_of_about-box {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.span_1_of_about-box {
	width: 30.5%;
}
.labout {
	display: block;
}
.gallery li {
	margin-bottom: 20px;
	background: #FFF;
	border: 1px solid #F0F0F0;
	width: 49%;
	float: left;
}
.gallery li h3{
	padding:5px;
	color:#555;
	font-size:0.8125em;
}
.gallery li a img{
	display:block;
}
.project-list h4, .project-list1 h4, .project-list2 h4 {
	font-size:1em;
	color: #555;
	margin-bottom:12px;
	text-transform: uppercase;
}
.project-list li, .project-list1 li {
	margin-bottom:15px;
}
.project-list li img, .project-list1 li img {
	float: left;
	margin-right: 20px;
}
ul.blog-list li {
	list-style-image: url(../images/arrow.png);
	margin: 0 30px 5px;
}
ul.blog-list li a {
	font-size:0.8125em;
	color:#555;
	vertical-align: super;
}
ul.blog-list li a:hover {
	color:#000;
}
.pages{
	padding:20px 0;
}
.project-list1{
	padding-top:20px;
}
.project-list2{
	padding-top:20px;
}
.project-list2 li {
	float: left;
	background:#FFA540;
	padding: 5px;
	margin: 2px;
}
.project-list2 li a {
	color: #000;
	text-transform: uppercase;
	font-size:12px;
}
.project-list2 li a:hover{
	color:#fff;
}
ul.dc_pagination {
	text-align: center;
	overflow: hidden;
	margin:0px 0 20px;
}
ul.dc_pagination li:first-child {
	margin-left: 0px;
	
	text-transform: uppercase;
}
ul.dc_pagination li {
	display: inline-block;
}
ul.dc_pagination li a {
	color: #555;
	display: block;
	padding:3px 7px;
	text-decoration: none;
	font-size:12px;
}
ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
	background:#FFA540;
	color: #FFF;
}
/*--blog--*/
.col_1_of_b {
	display: block;
	position:relative;
}
.col_1_of_b img{
	display:block;
}
.span_1_of_b {
	margin-bottom: 20px;
}
.span_1_of_b h3{
	margin-bottom:10px;
}
.span_1_of_b h3 a {
	color: #333;
	font-size:0.85em;
	font-weight:600;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.span_1_of_b h3 a :hover{
	color:#555;
}
.span_1_of_b p {
	color: #555;
	font-size: 0.8125em;
	line-height: 1.5em;
	margin-top: 15px;
}
.button {
	margin-top:10px;
}
.button a {
	color:#FFA540;
	font-size: 0.85em;
	text-transform: uppercase;
}
.button a:hover {
	color:#555;
}
.blog-poast-info {
	background:#FFA540;
	padding:2px 0;
	text-align:right;
}
.blog-poast-info ul li {
	display:inline-table;
	margin-right: 1em;
}
.blog-poast-info ul li a {
	color: #FFF;
	text-transform: uppercase;
	font-size:12px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blog-poast-info ul li a:hover {
	text-decoration:underline;
}
i.admin {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -380px -111px;
	float: left;
}
i.date {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -408px -111px;
	float: left;
}
i.comment {
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png) no-repeat -440px -111px;
	float: left;
}
/*--single--*/
p.m_10{
	font-size:0.8125em;
	color:#555;
	line-height:1.5em;
	padding:10px 0;
}
.btn1{
	padding-top:10px;
}
.btn1 a{
	background: #FFA540;
	font-size: 0.8125em;
	padding:7px 15px;
	color: #FFF;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	float: left;
	text-transform: uppercase;
	font-weight: 100;
}
.btn1 a:hover{
	background:#555;
}
/*--portfolio--*/
.gallery1 li {
	margin-bottom: 20px;
	border:1px solid #f0f0f0;
	background: #FFF;
	text-align:center;
}
.gallery1 li h3 {
	padding:10px;
	color: #555;
	font-size:0.85em;
}
/*--contact--*/
.to input[type="text"] {
	padding:8px;
	width: 92%;
	font-size: 0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #555;
	background: #FFF;
	float: left;
	outline: none;
}
.text input[type="text"], .text textarea {
	width: 92%;
	font-size:0.8125em;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	outline: none;
	margin-bottom:15px;
	height: 100px;
	padding:8px;
}
.contatct-top input[type="submit"] {
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.85em;
	font-weight: normal;
	padding:8px 15px;
	text-transform: uppercase;
	background: #FFA540;
	display: inline-block;
	-webkit-appearance: none;
	border:none;
}
.contatct-top input[type="submit"]:hover{
	background:#555;
}
.map{
	padding-top:20px;
}
p.m_12{
	font-size:0.8125em;
	line-height: 1.5em;
	text-align: center;
	color: #555;
	margin-bottom:2%;
}
.m_contact {
	text-align: center;
	position: relative;
	text-transform: uppercase;
	color: #777;
	font-size:0.8125em;
	padding:20px 0;
}
span.left_line1 {
	height: 3px;
	width:50px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	left: 0%;
	bottom: 26px;
}
span.right_line1 {
	height: 3px;
	width:50px;
	display: block;
	background: url(../images/border1.png) no-repeat 0px 0px;
	position: absolute;
	right: 0%;
	bottom: 26px;
}
.contact{
	padding-bottom:20px;
}
